.battle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1 0;
  min-height: 0;
  
  &__id {
    font-size: 1rem;
    font-weight: 400;
  }

  &__challenges {
    padding: 1rem;
    flex: 1 1 0;
    min-height: 0;
    overflow-y: scroll;
    margin-bottom: 1rem;
  }
}